@model IEnumerable<C500Hemis.Models.TbDanhHieuThiDuaGiaiThuongKhenThuongNguoiHoc>
@{

    ViewData["Title"] = "Index";

    var capKhenThuong = ViewData["CapKhenThuong"];
    var ptKhenThuong = ViewData["PhuongThucKhenThuong"];
    var loaiDanhHieu = ViewData["LoaiDanhHieu"];
}

<div class="container d-flex justify-content-between">
    <div>
        <div>Biểu đồ phân bố cấp khen thưởng</div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div>
        <div>Biểu đồ phương thức khen thưởng</div>
        <canvas id="myChart1" width="400" height="400"></canvas>
    </div>
    <div>
        <div>Loại danh hiệu thi đua giải thưởng khen thưởng </div>
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>

</div>

@if (Model == null)
{
    <div class="alert alert-warning">
        Không có dữ liệu để hiển thị
    </div>
}

@section Styles {
    <style>
        #myChart,
        #myChart1,
        #myChart2 {
            width: 350px !important;
            height: 350px !important;
        }
    </style>
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/assets/js/chart.js"></script>
    <script>
        // Cap Khen Thuong
        var capKhenThuong = @Html.Raw(Json.Serialize(capKhenThuong));
        var capLabels = capKhenThuong.map(function(item) {
            return item.capKhenThuong;
        });
        var pcapData = capKhenThuong.map(function(item) {
            return item.count;
        });
        createPieChart('myChart', capLabels,'Cap Khen Thuong Count', pcapData);
        // PThuc Khen Thuong
        var PthucKhenThuong = @Html.Raw(Json.Serialize(ptKhenThuong));
        var ptLabels = PthucKhenThuong.map(function(item) {
            return item.ptKhenThuong;
        });
        var ptData = PthucKhenThuong.map(function(item) {
            return item.count;
        });
        createPieChart('myChart1', ptLabels,'PThuc Khen Thuong Count', ptData);

        // Loai Danh Hieu
        var loaiDanhHieu = @Html.Raw(Json.Serialize(loaiDanhHieu));
        var lLabels = loaiDanhHieu.map(function(item) {
            return item.loaiDanhHieu;
        });
        var lData = loaiDanhHieu.map(function(item) {
            return item.count;
        });
        createPieChart('myChart2', lLabels,'Loai Danh Hieu Count', lData);


    </script>
}
